/build/*
/dist/*
/node_modules/*
config-handler/build
config-handler/dist
config-handler/tests/fixture/config-handler*
.pytest_cache
__pycache__
*.swp
.idea
.cache
cert/codecert.pfx
cert/private.pem
cert/public.pem
*.log
cert/usersign.key
