/*
ADOBE CONFIDENTIAL

Copyright 2017 Adobe

All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe. 
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 3.5rem;
  font-size: 0.85rem;
  background-color: #eee;
}

.bg-dark {
  background-color: #2C2B39!important;
}

xmp{ white-space:pre-wrap; word-wrap:break-word; }


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*border-right: 1px solid #eee;*/
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item a {
  color: black;
}

.sidebar .nav-item .active {
  width: 100%;
  /* border-left: 3px solid #FCD200; */
  color: #FCD200;
  background-color : black;
  border-color:transparent #eee transparent transparent;
  position: relative;
}

/*
.sidebar .nav-item .active .selected {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 8px;
  background: 0 0;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #fff;
}
*/

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.form-control {
  border: 1px solid lightgray;
  border-radius: 0;
  /* padding-left: 0; */ 
}

.form-control-file {
  border: 1px solid lightgray;
  border-radius: 0;
  padding-left: 0; 
}

.form-group {
  margin-bottom: 0.3rem;
}

.form-group>label {
  font-size: 0.65rem;
  margin-bottom: 0.1rem;
  color: #535353;
}

legend {
  font-size: 0.75rem;
  margin-bottom: 0;
  padding: 5px 10px;
  color: gray;
  text-transform: uppercase;
}

.list-group-item {
  font-size: 0.85rem;  
  padding: 7px 15px
}

.list-group-item-label {
  color: #535353;  
}

.dropdown-item {
  padding: 5px 10px;
}

/* wizard */
.progress-tracker {
  margin: 5px auto;
}

.progress-text {
  padding: 7px 8px;
}

/* round order list */
ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  margin-bottom: 1em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;   
}

.rounded-list a:hover{
  background: #ccc;
}

.rounded-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .1em solid #fff;
  text-align: center;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.file-input {
  display: inline-block;
  white-space: nowrap;
}

.file-input-button {
  vertical-align: top;
  display: inline-block;
}

/* css for labels in home component */

.file-input-label {
  border: solid;
  border-width: 1px;
  border-color: rgba(179, 172, 172, 0.5);
  border-left: 0;
  padding: 2px 5px 2px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
  display: inline-block;
}

.file-input-view {
  vertical-align: top;
  display: inline-block;
  margin-top: 4px;
}